<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    About us </h1>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">TUMBA COFFEE WASHING STATION
TUMBA COFFEE WASHING STATION
is an indury that prepares coffee they receive cherry and employ
workers from local coopeartives; 6 coops in total contribute to 
the output at tumba. Mr. Gatali’s agronomist at tumba is a man named Pascal Mugiraneza,
and the two of them work together alongside Technoserve to offer education in pruning,
mulching, and other agronomic practices to the cooperatives that work in concert with Kinunu. 
This station produced 9 containers total in 2012, a huge jump from the 3 containers it produced in 2011,
while transitioning from being fully owned by SOCOR to being primarily owned and overseen by Gilbert, 
Pascal, Laetitia, and the rest of the KZ Noir staff in Rwanda. Around 5000 farmers total contributed 
the cherry that created those 9 containers, and many of these farmers also work in various levels of 
roduction at the station.</div>
</div>