<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%@name%> Thank you for joining Tumba cws</h1>
    <p>best regard</p><br>
    <p>https://jules-grad-proj.herokuapp.com/</p>


  </body>
</html>