<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p> Dear <b> <%= @name %></b></p>
    <p>we received your message</p>
    <p>thank you </p>
   
<p>https://jules-grad-proj.herokuapp.com/</p>
  </body>
</html>