


body 
{
    background-color:black;
    border:0;
   
    background-image:url(wallllll.png);
     background-repeat: no-repeat;
   background-size: cover;
    
    width: 100%;

    

}
.container{
  width: 75%;
  /*background-color: rgba(89, 60, 31,0.5);*/
  
  position: relative;
  min-height: 100%;
  border-radius: 40px 40px 0px 0px;
}

.navbar{
   margin-top: 42px;
}



#header
{
margin-top: 0px;
width: 100%;
height: 100px;
background-color: rgba(240, 232, 232, 0.64);
border-radius: 40px 40px 0px 0px;
background-image: url(hda.png);
background-size:100% 100%;

}

#headerimg
{
    float: right;
    margin-right: 15px;
    width: 90%;
height: 95%;
    
   
}
.footer{
  width: 100%;
  height: 60px;
 
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  
 
  display: table;
  border-radius:  0px 0px 40px 40px;

}
.footer p {
  font-size: 1rem;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}



.mySlides{
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
}
#imgcontent{
 max-height: 220px;max-width: 270px;
}

#profilimg{
  width:50px;
  height: 50px;
}







@keyframes slidy {

0% { left: 0%; } 
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
     
}

#forimg
{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.54);
    
}
div#forimg { overflow: hidden; }


div#forimg figure img 

{  width: 20%;
    height:100%;
    float: left; 
}
div#forimg figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}
.side{
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
}